.header{
    text-align: center;
    padding-top: 20px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}


.category{
    background-color:#111111;
    width: 100%;
}
.category-title{
    font-size: 20px;
    font-weight: bold;
    color:white;
}

.header-menu{
    display: flex;
    margin: 20px;
    justify-content: flex-start;
    padding-left: 2rem;
}

.subcategory{
    max-width: fit-content;
}

::-webkit-scrollbar {
    margin: 0;
}

.scrollCard {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin-top: 25px;
}

.category-menu{
    padding-left: 5rem;
    align-items: center;

}
.card-sub{
    display: flex;
}


@media only screen and (max-width: 800px) {
    .category-title{
        font-size: 15px;
    }

    .header{
        text-align: center;
        padding-top: 20px;
        color: white;
        font-weight: bold;
        font-size: 10px;
    }
    .category-title{
        font-size: 10px;
    }
}

